@import './../../../styles/mixins.scss';

.ui-skeleton-card {
  height: calc(180px + var(--space-lg) * 2);
  background: white;
  border-radius: var(--border-radius);
  margin-top: var(--space-lg);
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: var(--space-lg);
    width: 180px;
    height: 180px;
    background: white;
    filter: contrast(0.93);
    transform: translateY(-50%);
    border-radius: var(--border-radius);
    max-width: 30%;
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: var(--space-lg);
    width: calc(100% - 180px - var(--space-lg) * 3);
    height: 160px;
    background: white;
    filter: contrast(0.95);
    transform: translateY(-50%);
    border-radius: var(--border-radius);
    min-width: 40%;
  }
}
