@import './../../../styles/mixins.scss';

.item-card {
  display: grid;
  position: relative;
  padding: var(--space-sm);
  grid-template-columns: auto 4fr 220px;
  @include FromMaxMedium() {
    grid-template-columns: initial;
  }
  &::after {
    position: absolute;
    content: '';
    width: calc(100% - 64px);
    height: 1px;
    background: var(--color-gray--light);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  &__image {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  &__description {
    padding: var(--space-sm);
    &__cost {
      margin-bottom: 32px;
      &__price {
        font-size: 24px;
      }
      &__shipping {
        margin-left: 0.5em;
      }
    }
    &__name {
      font-size: 18px;
      max-width: 22em;
      color: var(--color-black);
    }
    &__location {
      padding: var(--space-sm);
      font-size: 12px;
      color: var(--color-gray--2);
    }
  }
}
