:root {
  --color-yellow-turbo: #ffe600;
  --color-blue-dodger: #3383fa;
  --color-green-shamrock: #2dd764;
  --color-black--dark: #000000;
  --color-black: #333333;
  --color-gray: #666666;
  --color-gray--2: #999999;
  --color-gray--light: #eeeeee;
}
