:root {
  --space-sm: 16px;
  --space-lg: 32px;
  --padding-gap: 10px;
  --grid: 100px;
  --grid-gap: 20px;
  --border-radius: 4px;
  --max-width: 1180px; // (10*100)grid + (9*20)gap from design spec
}
