.ui-button {
  width: 100%;
  background-color: var(--color-blue-dodger);
  color: white;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  font-size: 14px;
  padding: 0.8em;
  &:focus {
    outline: 1px dotted var(--color-blue-dodger);
  }
}
