.main {
  background: var(--color-gray--light);
  margin: 0 var(--padding-gap) var(--space-lg);
  &__wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    border-radius: var(--border-radius);
  }
}
